<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/assets/css/style.css"/>
</head>
<body>
<div class="jumbotron">
  <div class="container text-center"> <!-- Company Images -->
    <a href="home">
      <img src="/assets/img/logo.png" alt="">
    </a>
  </div>
    <p style="text-align:center">Ordering System</p>
</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Inner Banks Paint & Decorating</a>
    </div>
    </div>
  </div>
</nav>
<div class="container">
    <h1>Welcome to the Inner Banks<br>Paint & Decorating Ordering System</h1>
    <h2>Click the "Next" button to begin.<h2>
</div><br><br>
<footer class="container-fluid text-center">
    <a href="/products"><button class="btn next-btn btn-danger">Next</button></a>
</footer>
</body>
</html>