<!DOCTYPE html>
<html lang="en">
<head>
    <title>Customer Questions</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="jumbotron">
        <div class="container text-center">

    <img src="/assets/img/logo.png" alt="">

        </div>
        <p style="text-align:center">Ordering System</p>
    </div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                  <a class="navbar-brand">Inner Banks Paint & Decorating | Questions</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav navbar-right dropdown">
                    <li>
                        <a href="javascript: updateCart()" class="dropbtn">
                            <span class="glyphicon glyphicon-shopping-cart"></span>&nbspCart
                        </a>
                    </li>
                    <div id="cartMenu" onClick="updateCart()" class="dropdown-menu dropdown-content">
                    </div>
                </ul>
            </div>
    </nav>
    <!-- Customer Questions -->
    <div class="container">
        <div class="row">
            <h1>Customer Questions</h1>
            <hr>
        </div>
    </div>
    <form action="/questions" method="POST">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <Strong>Where are you painting?</Strong><br>
                        <select class="form-control" name="ddlpainting">
                            <option value="...">...</option>
                            <option value="Exterior">Exterior</option>
                            <option value="Interior">Interior</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label for="comment"> What are you painting?</label>
                        <textarea class="form-control" rows="5" id="comment" name="painting"></textarea>
                    </div>
                </div>
            </div><br><br>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <Strong>Do you have a painter?</Strong></br>
                        <label class="radio-inline"><input type="radio" name="optradio">Yes</label>
                        <label class="radio-inline"><input type="radio" name="optradio">No</label>
                    </div>
                    <div class="col-sm-6">
                        <label for="comment"> Do you have any questions for us?</label>
                        <textarea class="form-control" rows="5" id="comment" name="questions"></textarea>
                    </div>
                </div>
            </div><br><br>
        </div>
        <script src="/assets/js/script.js"></script>
        <footer class="container-fluid text-center">
            <button type="submit" class="btn next-btn btn-danger">Next</button>
        </footer>
    </form>
</body>
</html>
