<!DOCTYPE html>
<html lang="en">
<head>
  <title>Confirmation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

<div class="jumbotron">
  <div class="container text-center"> <!-- Company Images -->
    <img src="/assets/img/logo.png" alt="">
  </div>
    <p style="text-align:center">Ordering System</p>
</div>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand">Inner Banks Paint & Decorating</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
    <h1>Thank You For Ordering From<br>Inner Banks Paint & Decorating!</h1>
    <h2>You will receive an e-mail once your order is processed.<h2>
  </div><br><br>
<footer class="container-fluid text-center">
  <form class="form-inline">
    <a href="http://ibxpaint.com/sb.cn"><button class="btn btn-next btn-danger">ibxpaint.com</button></a>
  </form>
</footer>
</body>
</html>